

$col1:#4A403A
$col2:#A45D5D
$col3:#FFC069
$col4:#EFEFEF
    


body
    background-color: $col4
    font-family: calibri

.blocks
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.oform
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    background-color:  $col3
    // внутрішній відступ
    padding: 10px
    border-radius: 30px
    margin: 10px
    width: 400px
    border: dotted 4px $col1
    color: black
    &:hover
        border: solid 4px $col1

.phone
    border-radius: 10px